[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KMD"]
	path = KMD
	url = https://github.com/zh2395/kmd
[submodule "KPC"]
	path = KPC
	url = https://github.com/zh2395/kpc
